﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/dhtmlxcss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/dhtmlx")
</head>
<body>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meine ASP.NET-Anwendung</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*<div id="grid_here" style="width:600px; height:400px;">
    </div>
    <script type="text/javascript" charset="utf-8">
            var grid = new dhtmlXGridObject("grid_here");
                grid.setImagePath("~/Scripts/codebase/imgs/");
               grid.setHeader("Url, Id, Vorname, Namename, Unternehmen, Telefon, Mobil");
               grid.setInitWidths("100,100,*");
               grid.setSkin("dhx_skyblue");
               grid.init();
               grid.load("EsData.aspx?IdParser='5c3686e6d3334e1bb132837be4306e29'");

    </script>*@

</body>
</html>
