﻿@{
    ViewBag.Title = "Home Page";
}
<div id="grid_here" style="width:100vw; height:100vw; position:absolute; left:0px; top:0px">
</div>
<script type="text/javascript" charset="utf-8">
    var grid = new dhtmlXGridObject("grid_here");
    grid.setImagePath("Scripts/codebase/imgs/");
    grid.setSkin("dhx_skyblue");
    grid.setHeader("@ViewBag.ColumnNames");
    grid.attachHeader("@ViewBag.FilterConfig");
    grid.enableBlockSelection(true);
    //grid.setHeader("Url, Id, Vorname, Namename, Unternehmen, Telefon, Mobil");
    grid.setColSorting("@ViewBag.SortTypes");
    grid.setColTypes("@ViewBag.ColTypes");
    grid.init();
    grid.load("EsData.aspx?IdParser='@ViewBag.IdParser'", "json");
    grid.attachEvent("onKeyPress", onKeyPressed);
    //grid.load("../../TestData.json", "json");

    function onKeyPressed(code, ctrl, shift) {
        if (code == 67 && ctrl) {
            grid.setCSVDelimiter("t");
            grid.copyBlockToClipboard()
        }
        if (code == 86 && ctrl) {
            grid.pasteBlockFromClipboard()
        }
        return true;
    }
</script>